@media (min-width:1400px) {

    .elencopersone p,
    .elencopersone *,
    .studioluciofontana .elencopersone *,
    .studioluciofontana .elencopersone p {
        font-size: 22px;
    }
    .parole_main_img {
        width: 40%;
    }
    .videocontainer p {
        font-size: 22px;
    }
    .elencopersone {
        margin-bottom: 49px;
    }
}